* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* font-type */
  --prim-font-Michroma: "Michroma", sans-serif;

  /* Color palette */
  --prim-white: #fff;
  --prim-black: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: white;
  background-image: url(Images/Group\ 2.png);
  background-repeat: repeat;
  background-position: relative;
  background-size: 100vw;
  top: 0;
}

article {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: var(--prim-font-Michroma);
  color: var(--prim-white);
}

li {
  font-size: 0.7rem;
}

ul {
  /*   padding-left: 15px; */
  padding-top: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
}

#main-nav {
  display: flex;
  width: 200px;
  height: 100vh;
  padding: 18px 0px;
  flex-direction: column;
  align-items: center;
  gap: 284px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  height: 50px;
  padding: 1px 2px 0px 0px;
  justify-content: center;
  align-items: flex-start;
  font-size: small;
  text-align: center;
  margin: 11px;
}

.logo p {
  width: 125px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

.nav li {
  text-decoration: none;
  list-style-type: none;
}

a {
  display: flex;
  width: 160px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  text-shadow: 2px 2px 1px #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1px;
}

.intro {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#intro-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100vh;
}

#mars {
  display: flex;
  width: 632px;
  height: 632px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

#nav-facts,
#nav-expeditions,
#nav-about,
#nav-x-files {
  width: 50vw;
  height: 50vh;
  flex-shrink: 0;
  position: relative;
  display: inline-block;
}

#nav-facts,
#nav-expeditions,
#nav-about,
#nav-x-files img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  display: grid;
  justify-content: center;
  align-items: center;
}

#text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#facts {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 66px;
  padding: 60px;
}

#about {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 50px 0px;
}

#expeditions {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 72px 20px;
  gap: 100px;
}

#x-files {
  display: flex;
  width: 80vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 50px 0px;
}

.main-h2 {
  text-align: center;
  font-family: var(--prim-font-Michroma);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 1rem;
  background: linear-gradient(90deg, #f77e00 0%, #914a00 24.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-facts {
  height: 815px;
  justify-content: center;
}

.v-about {
  display: flex;
  height: 750px;
  padding: 57px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
}

.v-expeditions {
  width: 1200px;
  height: 800px;
  aspect-ratio: 3/2;
}

.about-text {
  width: 1100px;
  height: 635px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}

.about-text p {
  background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(255, 255, 255, 0.85) 25.48%,
    rgba(255, 255, 255, 0.5) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fix {
  margin-left: 200px;
}

.landers {
  display: flex;
  height: 650px;
  padding: 19px 42px 19px 42px;
  justify-content: center;
  align-items: center;
  gap: 55px;
  align-self: stretch;
}

#landers {
  display: flex;
  width: 550px;
  height: 650px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.8;
}

.link-1 {
  display: flex;
  width: 1130px;
  height: 260px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #3c3838;
  backdrop-filter: blur(2px);
  margin: 8rem 0px 8rem 0px;
}

.text-link {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-link p {
  font-size: 1.5rem;
  line-height: 1.5;
}

.link-1 img {
  width: 425px;
  height: 240px;
  flex-shrink: 0;
  aspect-ratio: 425/240;
  border-radius: 50px;
  margin: 10px;
}

.svglink {
  width: 100px;
  height: 60px;
  display: grid;
  place-items: center;
  margin-inline: auto;
  background-image: url(Images/noto_play-button.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.fun-5 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 55px;
  align-self: stretch;
}

.lists {
  position: relative;
  text-align: center;
}

.ff5 {
  top: 0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  background: linear-gradient(90deg, #f77e00 55.77%, #999 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-fun5 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fun5 img {
  width: 1200px;
  height: 750px;
  flex-shrink: 0;
  aspect-ratio: 1200/750;
  bottom: 0;
}

.the-facts {
  width: 1200px;
  height: 175vh;
  flex-shrink: 0;
  align-content: center;
}

ol {
  position: absolute;
  top: 50%;
  left: 50%;
  vertical-align: bottom;
  transform: translate(-50%, -150%);
  width: 700px;
  gap: 10px;
}

ol li {
  font-size: 1.3rem;
}

.img-x-files {
  width: 750px;
  align-self: stretch;
}

.last-words {
  display: flex;
  width: 1240px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.2rem;
  background: linear-gradient(90deg, #ff9800 0%, #f08f00 61.06%, #995b00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content {
  text-align: center;
}

.a-bright-future {
  width: 850px;
  margin: 20px;
  top: 50%;
  left: 50%;
  transform: translate(25%, -400%);
}
